<div class="row">
  <div class="col-xs-2"></div>
  <div class="col-xs-2"><h4>注文履歴一覧</h4></div>
  <div class="col-xs-7"></div>
</div>

<br>
<div class="row">
  <div class="col-xs-2"></div>
    <div class="col-xs-8">
      <table class="table">
        <thead>
          <tr>
            <th scope="col" class="col-xs-3">購入日時</th>
            <th scope="col" class="col-xs-2">購入者</th>
            <th scope="col" class="col-xs-2">注文個数</th>
            <th scope="col" class="col-xs-2">注文ステータス</th>
          </tr>
        </thead>

        <tbody>
          <% @orders.each do |order| %>
            <tr>
              <td><%= order.created_at %></td>
              <td><%= link_to order.name , admin_order_path(order.id) %></td>
              <td><%= order.total_count %></td>
              <td><%= order.status %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <div class="col-xs-2"></div>
</div>