<div class="row">
  <div class="col-xs-1"></div>
  <div class="col-xs-2"><h4>管理画面</h4></div>
  <div class="col-xs-10"></div>
</div>
<div class="row">
  <div class="col-xs-1"></div>
   <p>本日の注文件数<%= @order.count %>件</p>
  <div class="col-xs-1"></div>
</div>